
<div class="card">
        <div class="card-content collapse show">
    
                <div class="card-body card-dashboard">
                    <div class="dataTables_wrapper container-fluid dt-bootstrap4">
                        <div class="row">
                            
            
                 
                     <div class="col-md-2">
                            <form (submit)="loadData()">
                                    
                                        <input type="search"
                                               class="form-control form-control-sm"
                                               [(ngModel)]="searchQuery"
                                               [ngModelOptions]="{standalone: true}"
                                               aria-controls="DataTables_Table_0"
                                               placeholder="Market Type">
                                    
                                </form>
                     </div>
                     <div class="col-md-3">
                            <form (submit)="loadData()">
                                    
                                        <input type="search"
                                               class="form-control form-control-sm"
                                               [(ngModel)]="searchQuery"
                                               [ngModelOptions]="{standalone: true}"
                                               aria-controls="DataTables_Table_0"
                                               placeholder="Start Date">
                                    
                                </form>
                     </div>
                     <div class="col-md-2">
                            <form (submit)="loadData()">
                                    
                                        <input type="search"
                                               class="form-control form-control-sm"
                                               [(ngModel)]="searchQuery"
                                               [ngModelOptions]="{standalone: true}"
                                               aria-controls="DataTables_Table_0"
                                               placeholder="Staffed / Understaffed">
                                    
                                </form>
                 </div>
                 <div class="col-md-3">
                        <form (submit)="loadData()">
                                
                                    <input type="search"
                                           class="form-control form-control-sm"
                                           [(ngModel)]="searchQuery"
                                           [ngModelOptions]="{standalone: true}"
                                           aria-controls="DataTables_Table_0"
                                           placeholder="Contract at least">
                                
                            </form>
                            
                            </div>
                            <div class="col-md-2">
                                    <form (submit)="loadData()">
                                            
                                                <input type="search"
                                                       class="form-control form-control-sm"
                                                       [(ngModel)]="searchQuery"
                                                       [ngModelOptions]="{standalone: true}"
                                                       aria-controls="DataTables_Table_0"
                                                       placeholder="Contract at least">
                                            
                                        </form>
                                        
                                        </div>
                        </div>
             </div>
            </div>
            <div class="card-body card-dashboard">
                    <app-datatableproject [options]="datatableprojectOptions"></app-datatableproject>
                  <!-- Profile data  {{profileData | json}} -->
                </div>

<!-- <div class="list">
		<ul>
			<li *ngFor="let item of collection | paginate: { itemsPerPage: 10, currentPage: p }">{{ item }}</li>
		</ul>

		<pagination-controls (pageChange)="p = $event"></pagination-controls>
</div>
                
        </div> -->
    </div>


<ng-template #action>
    <div class="dropdown float-md-right">
        <button class="btn btn-primary round btn-glow px-2"
                type="button"
                (click)="addNew()">Add a Project
        </button>
    </div>
</ng-template>
